
@media screen and (min-width: 1280px)  {
  .header__logo {
    padding: 28px 0 0 48px;
    min-width: 176px;
  }
}

@media screen and  (max-width: 1279px) {
  .header__logo {
    padding: 28px 0 0 48px;
    min-width: 176px;
  }
}

@media screen and (max-width:  1023px) {
  .header__logo {
    padding: 28px 0 0 24px;
    min-width: 176px;
  }
}

@media screen and (max-width:  767px) {
  .header__logo {
    padding: 16px 0 0 16px;
    min-width: 142px;
  }
}

