
.lead__title {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 900;
  text-align: center;
  margin: 0 auto;
}

@media screen and (min-width: 1280px)  {
  .lead__title {
    padding-top: 56px;
    font-size: 96px;
    line-height: 1.04;
  }
}

@media screen and (min-width: 1025px) and (max-width: 1280px) {
  .lead__title {
    padding-top: 56px;
    font-size: 96px;
    line-height: 1.04;
  }
}
@media screen and (min-width: 768px) and (max-width: 1024px) {
  .lead__title {
    padding-top: 48px;
    font-size: 96px;
    line-height: 1.04;
  }
}

@media screen and (min-width: 321px) and (max-width:  767px) {
  .lead__title {
    padding-top: 48px;
    font-size: 96px;
    line-height: 1.04;
  }
}

@media screen and (max-width:  320px) {
  .lead__title {
    padding-top: 48px;
    font-size: 40px;
    line-height: 1.1;
  }
}
