.footer__copyright {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.14;
  color: #FFFFFF;
  text-align: right;
  margin: 0;

}

@media screen and (max-width:  767px) {
  .footer__copyright   {
    flex-direction: column;
    text-align: left;

    line-height: 1;
  }
}