.intro__text {
  margin: 0;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 163%;

}


@media screen and (min-width: 1280px)  {
  .intro__text {
    padding: 40px 442px 0 148px;
  }
}

@media screen and  (max-width: 1279px) {
  .intro__text {
    padding: 40px 286px 0 48px;
  }
}

@media screen and  (max-width:  1023px) {
  .intro__text {
    padding: 40px 24px 0;
  }
}

@media screen and (max-width:  767px) {
  .intro__text {
    padding: 40px 16px 0;
  }
}