.footer {
  display: flex;
  box-sizing: border-box;
  padding: 94px 48px 24px 48px;
  justify-content: space-between;
  width: 100%;


}

@media screen and (max-width:  767px) {
  .footer {
    flex-direction: column;
    justify-content: space-between;
    margin-top: 16px;
  }
}
